 h1 {
   color: darkmagenta;
   text-align: center;
   padding-bottom: 70px;

 }
 .intro {
   font-style: italic;
 }
  Body {
    background-color: darkgray;
    background-image: url("images/gta.jpg");
    background-blend-mode: multiply;
  }
h2 {
  color: darkred;
  text-align: center;
}
ul {
  line-height: 70px;
}
div {
  border: 1px solid black;
  font-size: 18px;
}
